<app-menu></app-menu>
<div *ngIf="request" class="component">
<section class="heading">
    <span class='page-title font-weight-bold font-italic'>[{{ title }}]</span>
    <span> | <a routerLink="/request/list">Return to Request List</a></span>
</section>
<main class="single">
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Status</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ request.id }}</td>
            <td>{{ request.description }}</td>
            <td>{{ request.status }}</td>
            <td>${{ request.total }}</td>
        </tr>
    </tbody>
</table>
</main>
</div>
<section class="heading">
    <span class='page-title font-weight-bold font-italic'>[{{ title2 }}]</span>
    <a routerLink='/line-item/create/{{request.id}}'><img width="20" height="20" src="assets/add-icon.png" title="Add New Line-Item"></a>
</section>
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Line Total</th>
            <th>Action</th>
        </tr>
    </thead>
    <p *ngIf="!lineItems" style="color: crimson;">There are no line items to display.</p>
    <tbody *ngIf="lineItems" class="table table-sm table-striped">
        <tr *ngFor="let lineItem of lineItems">
            <td>{{ lineItem.id }}</td>
            <td>{{ lineItem.product.name }}</td>
            <td>{{ lineItem.quantity }}</td>
            <td>{{ lineItem.product.price | currency }}</td>
            <td>{{ lineItem.product.price * lineItem.quantity | currency }}</td>
            <td>
                <a routerLink='/line-item/edit/{{ lineItem.id }}'>
                    <img width="20" height="20" src="assets/pencil-icon.png" title="Edit Line Item">
                </a>
                <a routerLink='/request/request-lines/{{ request.id }}'>
                   <img (click)="delete(lineItem.id)" width="20" height="20" src="assets/delete.jpg" title="Delete Line Item">
                    <!-- <span> | <button (click)="delete(lineItem.id)" class="btn btn-sm btn-success">Delete</button></span> -->
                </a>
            </td>
        </tr>
    </tbody>
</table>
<a routerLink="/request/list">
<p *ngIf="lineItems"> <button *ngIf="request.status == 'New'" (click)="submitForReview()" class="butn btn-sm btn-primary">{{submitBtnTitle}}</button></p>
</a>
